/* Contact (Kontakt) page */
.contact-page-fold {
  width: 100vw;
  padding: 4rem 10vw;
  padding-top: 20vh;
  padding-bottom: 20rem;
  min-height: 100vh;
  margin-top: 0;
}

.contact-page-title {
  margin-bottom: 1rem;
}

.contact-page-subtitle {
  max-width: 500px;
  text-align: center;
}

.contact-card {
  background-color: var(--card-bg);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin-top: 4rem;
}

.contact-card .left-side,
.contact-card .right-side {
  width: 100%;
  padding: 2.5rem;
}

.left-side {
  width: 100%;
  flex: 4;
  padding: 1rem;
  background: radial-gradient(120% 90% at 17% 12%, rgba(230, 0, 255, 0.25) 0%, rgba(55, 0, 255, 0.25) 100%);
  border-radius: 25px 0px 0px 25px;
}

.contact-card-title {
  max-width: 90%;
  font-size: var(--main-card-title-font-size);
}

.contact-card-text {
  width: 85%;
  margin: 1.5rem 0 1rem 0;
}

.contact-details-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-icon-container {
  background-color: rgba(230, 0, 255, 0.25);
}

.contact-link {
  text-decoration: none;
  color: #fff;
}

.right-side {
  width: 100%;
  flex: 6;
  padding: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form-label {
  color: var(--text-muted);
  font-size: 14px;
  margin-left: 20px;
}

.form-input {
  background: var(--bg-soft);
  border: 1px solid #2f2f33;
  color: var(--text-main);
  padding: 14px 18px;
  border-radius: var(--radius-md);
  font-size: var(--text-font-size);
  outline: none;
  transition: border var(--transition);
  border-radius: 30px;
}

textarea {
  font-family: 'Roboto', sans-serif;
}

.form-input-text {
  height: 100px;
}

.form-input::placeholder {
  color: #6f6f75;
}

.form-input:focus {
  border-color: var(--accent);
}

.submit-container {
  margin-top: 12px;
}

.cta {
  cursor: pointer;
}
