@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2200b8;
    --secondary-color: #5d00ff;
    --accent-color: #e100ff;
    --accent-color-light: #ec5eff;
    --accent-color-dark: #a900c0;

    --card-bg: rgba(255, 255, 255, 0.05);

    --text-color: rgba(255, 255, 255, 0.8);
    --text-font-size: 1rem;
    --text-line-height: 1.6;

    --small-text-font-size: 1rem;

    --hero-title-font-size: 5.5rem;
    --section-title-font-size: 2.5rem;

    --heading-line-height: 1.1;
    --heading-letter-spacing: -0.03em;

    --card-title-font-size: 1.5rem;
    --card-text-font-size: 4rem;

    



    --icon-design-bg-color: rgba(255, 166, 0, 0.5);
    --icon-conversion-bg-color: rgba(0, 128, 0, 0.5);
    --icon-seo-bg-color: rgba(255, 255, 0, 0.5);
    --icon-code-bg-color: rgba(0, 0, 255, 0.5);
    --icon-performance-bg-color: rgba(255, 0, 0, 0.5);
    --icon-ai-bg-color: rgba(255, 83, 232, 0.5);

    --icon-design-color: rgb(255, 166, 0);
    --icon-conversion-color: rgb(0, 128, 0);
    --icon-seo-color: rgb(255, 255, 0);
    --icon-code-color: rgb(0, 0, 255);
    --icon-performance-color: rgb(255, 0, 0);
    --icon-ai-color: rgb(255, 192, 247);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100vw;
    padding: 5rem 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30vh 0px;
}

h1, h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: var(--heading-line-height);
    letter-spacing: var(--heading-letter-spacing);
}

.section-title {
    font-size: var(--section-title-font-size);
    margin-bottom: 2rem;
    width: 100%;
}

p, a, button {
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    color: var(--text-color);
}

.cta {
    padding: 5px 25px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.cta:hover {
    transition: 0.3s;
    color: white;
    background: linear-gradient(var(--accent-color-light) 10%, var(--accent-color) 60%, var(--accent-color-dark) 100%);
    transform: translateY(-2px);
}

.grid {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));

}

.grid-card {
    padding: 2rem;
    background: var(--card-bg);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    position: relative;
}

.icon {
    display: block;
    width: 23px;
    height: 23px;
}

.reference-link {
    font-weight: 500;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s;
    font-size: var(--text-font-size);
}

.reference-link:hover {
    color: white;
    transition: color 0.3s;
}

/* Header */

header {
    width: 100vw;
    padding: 2rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

    .nav-logo {
        position: absolute;
        left: 3rem;
        width: 80px;
    }

    .nav-links {
        display: flex;
        gap: 2rem;
    }

        .nav-links a {
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
        }

    .hamburger-menu {
        position: absolute;
        right: 3rem;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

        .hamburger-menu .bar {
            width: 25px;
            height: 1.5px;
            background-color: #fff;
        }

/* Hero Section */

.hero-section {
    height: 100vh;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: bottom;
    gap: 2.5rem;
    margin-top: 0px;
}

    .hero-title {
        font-size: var(--hero-title-font-size);
        text-align: center;
        margin: 0px;
    }

        .gradient-text-purple {
            background: linear-gradient(#c988fe 20%, #5d00ff 70%, #1900ff 85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .gradient-text-pink {
            background: linear-gradient(#ffc5f2 10%, #e100ff 60%, #b211a2 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .underline-scribble {
            position: relative;
        }

        .underline-scribble::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 15px;
            background-image: url('../assets/underline-scribble.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }

    .hero-subtitle {
        font-size: var(--text-font-size);
        text-align: center;
        max-width: 650px;
    }


/* Expertise Section */
.expertise-section .reference-link {
    position: absolute;
    top: 6rem;
    right: 10vw;
}

.expertise-title {
    text-align: left;
}

.card-title {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* Ensures the pseudo-element doesn't overflow */
}

.icon-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/icons/frame.svg');
    background-size: cover; 
    background-position: center; 
    z-index: 0; 
}

.icon-container > .icon {
    position: relative;
    z-index: 1; 
}

    .design-icon-container {
        background-color: var(--icon-design-bg-color);
    }

    .conversion-icon-container {
        background-color: var(--icon-conversion-bg-color);
    }

    .seo-icon-container {
        background-color: var(--icon-seo-bg-color);
    }

    .code-icon-container {
        background-color: var(--icon-code-bg-color);
    }

    .performance-icon-container {
        background-color: var(--icon-performance-bg-color);
    }

    .ai-icon-container {
        background-color: var(--icon-ai-bg-color);
    }

/* Projects Section */
.projects-title {
    text-align: right;
}

.projects-section .reference-link {
    position: absolute;
    top: 4rem;
    left: 10vw;
    margin-top: 2rem;
}

.project-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.projects-section .grid-card {
    padding-bottom: 80px;
}

.tag-container {
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Reviews Section */
.reviews-section .grid-card {
    padding-bottom: 65px;
}
.reviews-title {
    text-align: center;
}

.client-img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.reviews-section .card-title {
    margin-bottom: 3px;
}

.corporation-name {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5)
}

.testimonial-text {
    font-style: italic;
    margin-top: 15px;
}

.star-container {
    width: calc(100% - 4rem);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    bottom: 15px;
}

    .star-review {
        width: 60px;;
    }

/* Book Call Section */

.book-call-section {
    width: 100vw;
    padding: 4rem 10vw;
}

    .book-call-card {
        background-color: var(--card-bg);
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
    }

        .left-side {
            width: 40%;
            padding: 4rem;
            background: radial-gradient(120% 90% at 17% 12%, rgba(230, 0, 255, 0.25) 0%, rgba(55, 0, 255, 0.25) 100%);
            border-radius: 25px 0px 0px 25px;
        }

            .book-call-title {
                max-width: 90%;
            }

            .book-call-paragraph {
                width: 85%;
            }

            .contact-details-container {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

                .contact-container {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

                    .contact-icon-container {
                        background-color: rgba(230, 0, 255, 0.25);
                    }

                    .contact-link {
                        text-decoration: none;
                        color: #fff;
                    }

        .right-side {
            width: 60%;
            padding: 4rem;
        }

            .booking-form {
                display: flex;
                flex-direction: column;
                gap: 17px;
            }
                
                .form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                }
                
                    .form-label {
                        color: var(--text-muted);
                        font-size: 14px;
                        margin-left: 20px;
                    }
                    
                    .form-input {
                        background: var(--bg-soft);
                        border: 1px solid #2f2f33;
                        color: var(--text-main);
                        padding: 14px 18px;
                        border-radius: var(--radius-md);
                        font-size: var(--text-font-size);
                        outline: none;
                        transition: border var(--transition);
                        border-radius: 30px;
                    }
                    
                    .form-input::placeholder {
                        color: #6f6f75;
                    }
                    
                    .form-input:focus {
                        border-color: var(--accent);
                    }
                    
                    .datetime-container {
                        display: grid;
                        grid-template-columns: 5fr 4fr;
                        gap: 15px;
                    }

                        .date-container {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                        }
                        
                            .calendar {
                                background: var(--bg-card);
                                padding: 15px;
                                border: 1px solid rgba(255, 255, 255, 0.25);
                                border-radius: 30px;
                            }
                            
                                .calendar-header {
                                    height: 17px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    gap: 10px;
                                    display: grid;
                                    grid-template-columns: repeat(7, 1fr);
                                    text-align: center;
                                    font-size: var(--small-text-font-size);
                                    color: rgba(255, 255, 255, 0.75);
                                    font-weight: 600;
                                }
                            
                                .calendar-grid {
                                    display: grid;
                                    grid-template-columns: repeat(7, 1fr);
                                    gap: 10px;
                                }
                            
                                    .calendar-day {
                                        width: 27px;
                                        height: 27px;
                                        border-radius: 50%;
                                        background: rgba(255, 255, 255, 0.1);
                                        color: var(--text-color);
                                        border: none;
                                        cursor: pointer;
                                        transition: background var(--transition), transform var(--transition);
                                    }
                                    
                                    .calendar-day:hover {
                                        background: #2e2e33;
                                        transform: translateY(-1px);
                                    }
                                    
                                    .calendar-day.is-active {
                                        background: var(--accent-color);
                                        color: #fff;
                                    }
                                    
                                    .calendar-day.is-disabled {
                                        color: var(--danger);
                                        background: transparent;
                                        cursor: not-allowed;
                                        pointer-events: none;
                                    }

                        .time-container {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                        }
                        
                            .timeslots {
                                height: 100%;
                                padding: 13px;
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                border: 1px solid rgba(255, 255, 255, 0.25);
                                border-radius: 30px;
                            }
                            
                                .timeslot {
                                    height: 27px;
                                    background: rgba(255, 255, 255, 0.1);
                                    color: #fff;
                                    border-radius: 999px;
                                    border: none;
                                    cursor: pointer;
                                    font-size: var(--small-text-font-size);
                                }
                                
                                .timeslot:hover {
                                    background: #2e2e33;
                                    transform: translateY(-1px);
                                }
                                
                                .timeslot.is-active {
                                    background: var(--accent-color);
                                    color: #fff;
                                }

                                .timeslot.is-today {
                                    color: red;
                                    font-weight: 500;
                                    color: #fff;
                                }
                    
                        .submit-container {
                            margin-top: 12px;
                        }
                        
                            .submit-button {
                                width: 100%;
                                padding: 10px 0;
                                border-radius: 999px;
                                border: 1px solid rgba(255, 255, 255, 0.25);
                                cursor: pointer;
                                font-weight: 600;
                                color: black;
                                background: white;
                                transition: 0.5s;
                            }
                            
                            .submit-button:hover {
                                background: var(--accent-color);
                                color: white;
                                transition: 0.5s;
                            }
    
footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 3rem 5rem;
}

    .footer-content {
        position: relative;
        height: 8rem;
    }

    footer .logo-container {
        display: flex;
        flex-direction: column;
    }

        footer .logo {
            width: 120px;
        }

        footer .slogan {
            color: rgba(255, 255, 255, 0.75);
            font-weight: 600;
            font-style: italic;
        }


        .footer-nav {
            width: 35%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 0;
            right: 0;
        }

            .footer-nav a {
                color: white;
                text-decoration: none;
                font-weight: 600;
            }

        .legal-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            right: 0;
            align-items: flex-end;
        }

            .legal-links a {
                color: rgba(255, 255, 255, 0.35);
                font-weight: 600;
                text-decoration: none;
            }